{
  "presets":[
    ["next/babel", {
      "preset-env": {
        "targets": {
          "node": "8.11.2",
          "browsers": "ie >= 11"
        },
        "modules": "commonjs"
      }
    }]
  ]
}
